global
	log stdout local0 #Send logs to stdout
defaults
  default-server init-addr libc,none
  log global  #Enable logs for frontend and backend
  option httplog
frontend FE-server
  bind *:80 
  mode http
  default_backend wwwservers
  # Enable web status at /stats
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST
backend wwwservers
  mode http # L7 check type
  option forwardfor # Pass original destination host
  balance roundrobin #leastconn...
  # Web servers 
  server srv1 phpwebappv2-wwwserver-1:80 
  server srv2 phpwebappv2-wwwserver-2:80 
